Repository CMPUT301W24T42/EventGate, pull requests merged in 2024-03, with the labels that each got.

#33 Organizer Main Menu
  code/.idea/deploymentTargetDropDown.xml
  code/app/build.gradle.kts
  code/app/src/main/AndroidManifest.xml
  code/app/src/main/java/com/example/eventgate/MainActivity.java
  code/app/src/main/java/com/example/eventgate/organizer/EventListAdapter.java
  code/app/src/main/java/com/example/eventgate/organizer/OrganizerActivity.java
  code/app/src/main/java/com/example/eventgate/organizer/OrganizerCreateEventFragment.java
  code/app/src/main/java/com/example/eventgate/organizer/OrganizerMainMenuActivity.java
  code/app/src/main/res/color/color_primary_dark.xml
  code/app/src/main/res/color/common_border_color.xml
  code/app/src/main/res/drawable/rounded_corner.xml
  code/app/src/main/res/layout/activity_organizer.xml
  code/app/src/main/res/layout/activity_organizer_main_menu.xml
  code/app/src/main/res/layout/organizer_create_event_popup.xml
  code/app/src/main/res/values/strings.xml
Labels: Organizer

#35 Organizer main menu
  code/app/build.gradle.kts
  code/app/src/main/java/com/example/eventgate/organizer/OrganizerCreateEventFragment.java
  code/app/src/main/res/layout/activity_organizer_main_menu.xml
  code/app/src/main/res/layout/organizer_create_event_popup.xml
  code/app/src/main/res/values/strings.xml
  dfg
Labels: Organizer

#38 04.01.01 Admin can remove events
  code/app/src/main/java/com/example/eventgate/Firebase.java
  code/app/src/main/java/com/example/eventgate/MainActivity.java
  code/app/src/main/java/com/example/eventgate/admin/AdminActivity.java
  code/app/src/main/java/com/example/eventgate/admin/AdminEventListAdapter.java
  code/app/src/main/java/com/example/eventgate/event/Event.java
  code/app/src/main/java/com/example/eventgate/event/EventDB.java
  code/app/src/main/res/layout/admin_events_list.xml
Labels: Admin

#36 Working on the Organizer Main Menu
  code/.idea/deploymentTargetDropDown.xml
  code/.idea/misc.xml
  code/app/build.gradle.kts
  code/app/src/main/AndroidManifest.xml
  code/app/src/main/java/com/example/eventgate/MainActivity.java
  code/app/src/main/java/com/example/eventgate/event/Event.java
  code/app/src/main/java/com/example/eventgate/event/EventDB.java
  code/app/src/main/java/com/example/eventgate/organizer/OrganizerCreateEventFragment.java
  code/app/src/main/java/com/example/eventgate/organizer/OrganizerMainMenuActivity.java
  code/app/src/main/res/layout/organizer_create_event_popup.xml
  code/build.gradle.kts
Labels: Organizer

#42 US 01.01.01 Organizer Event QR
  code/.idea/deploymentTargetDropDown.xml
  code/app/src/main/java/com/example/eventgate/event/Event.java
  code/app/src/main/java/com/example/eventgate/organizer/EventListAdapter.java
  code/app/src/main/java/com/example/eventgate/organizer/OrganizerCreateEventFragment.java
  code/app/src/main/java/com/example/eventgate/organizer/OrganizerMainMenuActivity.java
  code/app/src/main/res/drawable/rounded_corner.xml
  code/app/src/main/res/layout/activity_organizer_main_menu.xml
  code/app/src/main/res/layout/organizer_create_event_popup.xml
  code/app/src/main/res/values/strings.xml
Labels: Organizer

#48 Organizer Tests
  code/.idea/deploymentTargetDropDown.xml
  code/app/build.gradle.kts
  code/app/src/androidTest/java/com/example/eventgate/OrganizerCreateEventFragmentTest.java
  code/app/src/androidTest/java/com/example/eventgate/OrganizerMainMenuActivityTest.java
Labels: Organizer

#56 send and receive notifications
  code/app/build.gradle.kts
  code/app/src/main/AndroidManifest.xml
  code/app/src/main/java/com/example/eventgate/Firebase.java
  code/app/src/main/java/com/example/eventgate/MainActivity.java
  code/app/src/main/java/com/example/eventgate/MyFirebaseMessagingService.java
  code/app/src/main/java/com/example/eventgate/attendee/AttendeeActivity.java
  code/app/src/main/java/com/example/eventgate/attendee/AttendeeEventViewer.java
  code/app/src/main/java/com/example/eventgate/event/EventDB.java
  code/app/src/main/java/com/example/eventgate/organizer/OrganizerEventEditorActivity.java
  code/app/src/main/res/drawable/ic_stat_onesignal_default.png
  code/app/src/main/res/mipmap-hdpi/ic_stat_onesignal_default.png
  code/app/src/main/res/mipmap-mdpi/ic_stat_onesignal_default.png
  code/app/src/main/res/mipmap-xhdpi/ic_stat_onesignal_default.png
  code/app/src/main/res/mipmap-xxhdpi/ic_stat_onesignal_default.png
  code/app/src/main/res/mipmap-xxxhdpi/ic_stat_onesignal_default.png
  code/firebaseCloudFunctions/.firebaserc
  code/firebaseCloudFunctions/.gitignore
  code/firebaseCloudFunctions/firebase.json
  code/firebaseCloudFunctions/functions/.gitignore
  code/firebaseCloudFunctions/functions/index.js
  code/firebaseCloudFunctions/functions/package-lock.json
  code/firebaseCloudFunctions/functions/package.json
Labels: Attendee

#57 01.05.01 realtime attendance and organizer event milestones
  code/.idea/deploymentTargetDropDown.xml
  code/.idea/misc.xml
  code/app/build.gradle.kts
  code/app/src/main/java/com/example/eventgate/Firebase.java
  code/app/src/main/java/com/example/eventgate/MainActivity.java
  code/app/src/main/java/com/example/eventgate/MyFirebaseMessagingService.java
  code/app/src/main/java/com/example/eventgate/NotificationPermissionFragment.java
  code/app/src/main/java/com/example/eventgate/admin/AdminActivity.java
  code/app/src/main/java/com/example/eventgate/attendee/AttendeeDB.java
  code/app/src/main/java/com/example/eventgate/attendee/AttendeeEventViewer.java
  code/app/src/main/java/com/example/eventgate/event/Event.java
  code/app/src/main/java/com/example/eventgate/event/EventDB.java
  code/app/src/main/java/com/example/eventgate/organizer/CreateAlertFragment.java
  code/app/src/main/java/com/example/eventgate/organizer/OrganizerAlert.java
  code/app/src/main/java/com/example/eventgate/organizer/OrganizerCreateEventFragment.java
  code/app/src/main/java/com/example/eventgate/organizer/OrganizerEventEditorActivity.java
  code/app/src/main/res/drawable/notification.png
  code/app/src/main/res/layout/activity_organizer_edit_event.xml
  code/app/src/main/res/layout/create_alert_popup.xml
  code/app/src/main/res/layout/notification_permission_popup.xml
  code/app/src/main/res/values/strings.xml
  code/firebaseCloudFunctions/functions/index.js
Labels: Organizer
